[Unit]
Description=File Browser
After=network.target

[Service]
ExecStart=nohup filebrowser -c /etc/filebrowser/config.json &

[Install]
WantedBy=multi-user.target
